.PlayLog {
  background-color: black;
  width: 50%;
  border-top: dotted thin darkgray;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  overflow: hidden;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  border-bottom: dotted thin darkgray;
  font-size: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: bold;
}

.content {
  padding: 10px;
  overflow: auto;
}
