.playerTable {
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: flex;
  flex-direction: row;
  border-bottom: dotted thin #808080;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-grow: 4;
}

.name {
  padding: 0 0 0 0.5rem;
  width: 150px;
}

.yourTurn {
  width: 150px;
  font-size: 0.9rem;
}

.buttonRow {
  display: flex;
  align-self: flex-end;
}
