#root {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  font-size: 14px;
  padding: 0;
}

.Header {
  background-color: #202020;
  width: 100%;
  padding: 10px;
}

.Header-version {
  color: #343434;
}

.DiceRoller {
  height: 60vh;
  width: 100%;
  background-color: #343434;
}

.ActionButtons {
  display: flex;
  flex-direction: row;
  background-color: black;
  border: solid thin gray;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.ActionRow {
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.CollapsableCards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
